.line{
    display: flex;
    justify-content: center;
}

.line_container{
    /* padding: 0; */
    background: #7494c0;
    overflow: hidden;
    max-width: 400px;
    margin: 20px auto;
    font-size: 80%;
    height: 660px;
    border-radius: 14px 14px 14px 14px;

    }
/* タイトル部分 */
.line_title{
    color: white;
    background :#273246;
    padding: 10px;
    text-align: center;
    font-size: 150%;

}


/* チャット部分 */
#output_scroll{
    height: 500px;
    overflow: scroll;
}
.line_contents_scroll{
    padding: 10px;
}
.talk{
    background: #ddd;
    border: 1px solid #ddd;
    border-radius: 14px 14px 0 14px;
height: 2em;
margin-bottom: 0em;
}
.time{
    
}


/* inline-blockでマーカーを消す */
/* .output_scroll{
    display: inline-block;
} */
/* li{
    flex-direction: column;
    display: inline-block;
} */
    .text_send,.text_send_r{
        display: flex;
        height: 3em;
        
    }
    .text_area,.text_area_r{
        width: 80%;
    }
    .semd_area,.semd_area_r{
        width: 20%;
    }
#text,#text_r{
    
        width: 100%;
        height: 100%;
        resize: none;
        border: 1px solid #ddd;
        box-sizing: border-box;
    }
    #send ,#send_r{
        
        height: 100%;
        background: #61E739;
        color: #fff;
        font-size: 1.0rem;
        font-weight: bold;
        border: 0ch;
        cursor: pointer;
        width: 72px;
        
    }
    