.line_container{
    padding: 0;
    background: #7494c0;
    overflow: hidden;
    max-width: 400px;
    margin: 20px auto;
    font-size: 80%;

    }
/* タイトル部分 */
.line_container .line_title{
    color: white;
    background :#273246;
    padding: 10px;
    text-align: center;
    font-size: 150%;

}
/* チャット部分 */
.line_container .line_contents {
    padding: 10px;
    overflow: hidden;
    line-height: 135%;
}

.line_container .scroll{
    height: 500px;
    overflow: scroll;
}

/* inline-blockでマーカーを消す */
/* .output_scroll{
    display: inline-block;
} */
/* li{
    flex-direction: column;
    display: inline-block;
} */
    .text_send{
        display: flex;
        height: 10vh;
        
    }
    .text_area{
        width: 80%;
    }
    .semd_area{
        width: 20%;
    }
#text{
    
        width: 100%;
        height: 100%;
        resize: none;
        border: 1px solid #ddd;
        box-sizing: border-box;
    }
    #send {
        /* width: 100%; */
        height: 100%;
        background: #61E739;
        color: #fff;
        font-size: 1.0rem;
        font-weight: bold;
        border: 0ch;
        cursor: pointer;
        width: 72px;
        
    }
    